body {
    background-color: light-dark(rgb(166, 220, 244), rgb(2, 32, 70));
    color: light-dark(rgb(39, 41, 42), rgb(203, 226, 255));
}

footer {
    background-color: light-dark(rgb(144, 194, 215), rgb(71, 89, 110));
    color: light-dark(rgb(16, 16, 16), rgb(234, 236, 239));
}

.center {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#color-chooser {
    border: 3px solid rgb(251, 250, 250);


    input {
        display: none;

    }
}

h1 {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

fieldset {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 100;
    font-style: normal;
}